body {
  /* font-size: .875rem; */
  background-color: #ebeff2;
 
}
a, a:hover{text-decoration: none;}
.box-1{
  margin-left: 81px;
  margin-right:41px;
}
.box-2{
  background-color:transparent; 

}
.btn{
  background-color:transparent; 
}
.search-fild{
  border-radius: 2rem;
}
.custom-toggler .navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(144,144,144, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.sidebar {
  z-index: 1000;
  position: fixed;
  top: 50px;
  left: -50px;
  width: 50px;
  height: 100%;
  overflow-y: auto;
  background: #2A3F54;
color: #0e0101;
-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.sidebar-nav {
  background-color: #e8e8e8;
  position: absolute;
  top: 52px;
  width: 50px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav li {
  line-height: 40px;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #e8e8e8;
  padding: 0;
  text-align:center;
}

.sidebar-nav li a:hover, .sidebar-nav li.active a {
  text-decoration: none;
  color: #fff;
  background: #fff;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav li span, .subbar li span {
display : none;
}